@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

$mid-bp: 650px;
$large-bp: 1200px;
$one_px_black_border: 1px solid black;

$coloruno: #2a2922;
$colordos: #506d2f;
$colortres: #7d5642;
$colorcuatro: #f3ebdd;
$colorcinco: #ffffff;

$s: smaller;
$m: medium;
$l: larger;







body {
    background: rgba(80, 109, 47, 0.6);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: $coloruno;
    font-family: 'Tangerine', cursive;
}

p {
  color: $coloruno;
}

.page-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    @media only screen and (min-width: $mid-bp) {
        font-size: 16px;
    }
}

h3 {
    text-align: center;
}

h3:not([class*="select"]):not([class*="archives"]):not([class*="resources"]) {
    font-size: 1.8em;

    @media only screen and (min-width: $mid-bp) {
        font-size: 2.5em;
    }

    @media only screen and (min-width: $large-bp) {
        font-size: 2.8em;
    }
}

h3:not([class*="select"]):not([class*="archives"]):not([class*="resources"])::before {
    background-image: url('rockPoint.png');
    background-size: 35px 30px;
    display: inline-block;
    width: 35px;
    height: 30px;
    content:"";
    margin-left: -35px;
    margin-right: 2vw;
}
//-------------------------------------TEXT SETTING---------------------------
.intro {
    grid-column: 1/6;
    padding: 0 1em 0 1em;

    // Placeholder
    background-color: $colorcuatro;


    @media only screen and (min-width: $large-bp) {
        grid-column: 1/7;
    }

    h1 {
        font-size: 1.6em;
        text-align: center;
        font-family: 'Cinzel', serif;

        @media only screen and (min-width: $mid-bp) {
            font-size: 2.7em;
        }

        @media only screen and (min-width: $large-bp) {
            font-size: 5em;
            margin-top: 10px;
        }
    }

    h2 {
        font-size: 1em;
        margin-top: -20px;
        padding-left: 7em;
        text-align: center;

        @media only screen and (min-width: $mid-bp) {
            font-size: 1.1em;
            margin-top: -45px;
            padding-left: 15em;
        }

        @media only screen and (min-width: $large-bp) {
            font-size: 2em;
            margin-top: -80px;
            padding-left: 14.5em;
        }
    }

    .summary::before {
        @media only screen and (min-width: $large-bp) {
            background-image: url(images/buddha.png);
            background-size: 300px 300px;
            display: inline-block;
            width: 300px;
            height: 300px;
            content:"";
            position: absolute;
            top: 110px;
            left: 7vw;
        }
    }

    .summary > p{
        @media only screen and (min-width: $mid-bp) {
            display: block;
            width: 60%;
            margin: auto;
        }

        @media only screen and (min-width: $large-bp) {
            width: 25%;
            margin: auto 0 auto 34vw;
        }
    }

    .summary > p:nth-child(2) {
        border: $one_px_black_border;
        border-radius: 10px;
        margin: -10px 0 0 35%;
        padding: 20px;
        max-width: 100px;

        @media only screen and (min-width: $mid-bp) {
            margin: 10px 0 0 45%;
            display: inline-block;
        }

        @media only screen and (min-width: $large-bp) {
            max-width: 410px;
        }
    }

    .preamble {
        margin: 70px 0 0 5%;

        @media only screen and (min-width: $large-bp) {
            grid-column: 3/6;
            margin: 0;
        }
    }
}
//-------------------------------------LINKS------------------------------------

a:link {
  color: $colortres;
  text-decoration: none;
  text-shadow: $colordos 1px 0 10px;

}

a:visited {
  color: $colortres;
}


a:hover {
  color: $colordos;
  text-shadow: $colordos 5px 10px 10px;
  z-index: 2;
}

a:active {
  color: $colordos;
  font-size: $s;

}

.wrapper a:link {
 color: $colorcuatro;
 text-shadow: #FC0 1px 0 10px;

}

.wrapper a:active {
  color: $colorcuatro;
  font-size: $s;

}

.wrapper a:hover {
  color: $colorcuatro;
  z-index: 2;
   text-shadow: $coloruno 1px 0 10px

}



footer a:link {
  color: $colorcuatro;
  text-shadow: #FC0 1px 0 10px;

}







//-------------------------------------MAIN------------------------------------
.main {
    grid-column: 2/8;
    padding-right: 32px;
    width: 100%;

    // Placeholder
    background-color:rgba(243, 235, 221, 0.8);

    @media only screen and (min-width: $large-bp) {
        grid-column: 1/7;
        width: auto;
    }
}

.main::before {
    @media only screen and (min-width: $large-bp) {
        background-image: url(images/croppedBonsai.png);
        background-size: 140px 140px;
        display: block;
        width: 140px;
        height: 140px;
        content:"";
        position: absolute;
        top: 30px;
        right: 9vw;
    }
}

.main > div {
    padding-left: 2em;
}
//-------------------------------------SIDEBAR----------------------------------
.sidebar {
    grid-column: 6/9;
    grid-row: 1;
    text-align: center;

    // Placeholder
    background-color: rgba(125, 86, 66, 0.8);

    h3 {
        margin-left: 35px;
        font-size: 2em;
    }

    @media only screen and (min-width: $mid-bp) {
        grid-column: 6/9;
    }

    @media only screen and (min-width: $large-bp) {
        position: absolute;
        top: 167px;
        right: 1.94vw;
        height: 500px;
        width: 23%;
        border-top: $one_px_black_border;
        border-bottom: $one_px_black_border;
        border-right: $one_px_black_border;

        a {
            font-size: .8em;
        }

        h3 {
            font-size: 1.5em;
            margin-bottom: -20px;
        }
    }

    .wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .design-selection::before {
        background-image: url(images/croppedBonsai.png);
        background-size: 100px 100px;
        display: block;
        width: 100px;
        height: 100px;
        content:"";
        margin: 20px auto auto 10vw;

        @media only screen and (min-width: $mid-bp) {
            margin-left: 15vw;
        }

        @media only screen and (min-width: $large-bp) {
            background-image: none;
            width: 0;
            height: 0;
            margin: 0;
        }
    }
}
//-------------------------------------FOOTER----------------------------------
footer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    margin-left: -22%;
    bottom: 0;
    text-align: center;
    border-top: $one_px_black_border;
    padding: 20px;

    // Placeholder
    background-color: $coloruno;

    @media only screen and (min-width: $large-bp) {
        width: 99.3%;
        margin: 0;
    }

    a {
        margin: 0 20px 0 20px;
    }
}

ul {
    list-style-type: none;
}
